@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --converter-bg : #0b0b3e;
  --converter-select : #0c3c72;
  --converter-input : #0f1055;
  --converter-interact : #0c3c7299;
  
}
  
body {
  background: var(--converter-bg);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

.wrapper {
  background: var(--converter-bg);
  margin: 0;
  padding: 20px 30px;
  width: 100%;
  box-sizing: border-box;
}

.wrapper_inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
}

.title {
  color: white;
  font-size: 1.8rem;
}

.label {
  color: white;
  align-self: flex-start
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  transition: all .4s;
}

.flex-column {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.dropdown,
.result_input {
  cursor: pointer;
}

.dropdown {
  position: relative;
  width: 100%;
  background: var(--converter-select) url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat;
  background-position: right 15px top 50%;
  border: none;
  border-radius: 0;-moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: white;
  padding: 20px 15px;
  font-size: 1.1rem;
  transition: all .4s;
}

.dropdown:hover {
  background-color: var(--converter-interact);
  background-position: right 15px top 70%;
}

.result_input {
  background: var(--converter-input);
  border: none;
  padding: 30px;
  font-size: 1.5rem;
  color: white;
  transition: all .4s;
}

.result_input:not([disabled]):hover,
.result_input:not([disabled]):active
.result_input:not([disabled]):focus {
  background-color: var(--converter-interact);
}

.result_input:disabled {
  opacity: 1;
  cursor: auto;
}

.result_input[type=number]::-webkit-inner-spin-button, 
.result_input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.result_input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:white;
  font-size: 18px;
  opacity: 0.4;
}
.result_input::-moz-placeholder { /* Firefox 19+ */
  color:white;
  font-size: 18px;
  opacity: 0.4;
}
.result_input:-ms-input-placeholder { /* IE 10+ */
  color:white;
  font-size: 18px;
  opacity: 0.4;
}
.result_input:-moz-placeholder { /* Firefox 18- */
  color:white;
  font-size: 18px;
  opacity: 0.4;
}

.switch_container {
  display: block;
  transition: all .4s;
  transform: rotate(0);
  cursor: pointer;
  align-self: center;
  padding: 0 0 20px;
}



.switch_icon {
  fill: white;
  transition: all .5s;
  transform: rotate(90deg);
}

.switch_icon:hover {
  fill: greenyellow;
}

@media (min-width: 800px) {
  .flex {
    flex-direction: row;
    align-items: center;
  }

  .flex-column {
    align-items: flex-start;
    align-items: center;
  }

  .switch_icon {
    fill: white;
    transition: all .5s;
    transform: rotate(0);
  }
  

  .switch_icon:hover {
    transform: rotate(180deg);
  }
}

